---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/integrations/v1/34597/timeline/event-types?hapikey=7e0e9eb0-6f90-4471-b769-864f8dfa486d&userId=215482
    body:
      encoding: UTF-8
      string: '{"name":"Contact event","applicationId":34597,"headerTemplate":"Contact
        header","detailTemplate":"Contact details","objectType":"CONTACT"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1BABBB2B84C9B0A2513CD6A548EF177D7F934F2BD31917450CDC669AA0
    body:
      encoding: UTF-8
      string: '{"id":15539,"name":"Contact event","headerTemplate":"Contact header","detailTemplate":"Contact
        details","applicationId":34597,"objectType":"CONTACT"}'
  recorded_at: Thu, 06 Oct 2016 14:34:34 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/integrations/v1/34597/timeline/event-types?hapikey=7e0e9eb0-6f90-4471-b769-864f8dfa486d&userId=215482
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"unprocessable entity","correlationId":"2d5b4f4e-f4b6-4c19-85e9-8f990e85aa05","errors":["request
        entity required"],"requestId":"b61775ba-0eff-4fd5-ac6c-9e4c2ece41da"}'
  recorded_at: Thu, 06 Oct 2016 14:34:37 GMT
[...]
