---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/integrations/v1/34597/timeline/event-types/15525/properties?hapikey=7e0e9eb0-6f90-4471-b769-864f8dfa486d&userId=215482
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1B260B85ECC7E6F91850B35381780590AB650A30F1369792BD37265980
    body:
      encoding: UTF-8
      string: '[{"options":[],"name":"MyEventProperty","id":9830,"propertyType":"String","label":"My
        Event Property","eventTypeId":15525,"contactProperty":null,"objectProperty":null}]'
  recorded_at: Fri, 07 Oct 2016 14:09:08 GMT
recorded_with: VCR 2.4.0
