---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/integrations/v1/34597/timeline/event-types/15525/properties?hapikey=7e0e9eb0-6f90-4471-b769-864f8dfa486d&userId=215482
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"options":[],"name":"MyEventProperty","id":9830,"label":"My Event
        Property","propertyType":"String","contactProperty":null,"objectProperty":null,"eventTypeId":15525}]'
  recorded_at: Fri, 07 Oct 2016 14:09:09 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/integrations/v1/34597/timeline/event-types/15525/properties/9830?hapikey=7e0e9eb0-6f90-4471-b769-864f8dfa486d&userId=215482
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 07 Oct 2016 14:09:10 GMT
- request:
    method: post
    uri: https://api.hubapi.com/integrations/v1/34597/timeline/event-types/15525/properties?hapikey=7e0e9eb0-6f90-4471-b769-864f8dfa486d&userId=215482
    body:
      encoding: UTF-8
      string: '{"name":"MyEventProperty","label":"My Event Property","propertyType":"String","objectProperty":null,"options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"options":[],"name":"MyEventProperty","id":9831,"propertyType":"String","label":"My
        Event Property","eventTypeId":15525,"contactProperty":null,"objectProperty":null}'
  recorded_at: Fri, 07 Oct 2016 14:09:10 GMT
recorded_with: VCR 2.4.0
