---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/integrations/v1/34597/timeline/event-types?hapikey=7e0e9eb0-6f90-4471-b769-864f8dfa486d&userId=215482
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":15521,"name":"My Event Type","headerTemplate":null,"detailTemplate":null,"applicationId":34597,"objectType":"CONTACT"},{"id":15522,"name":"My
        Event Type","headerTemplate":null,"detailTemplate":null,"applicationId":34597,"objectType":"CONTACT"},{"id":15523,"name":"My
        Event Type","headerTemplate":null,"detailTemplate":null,"applicationId":34597,"objectType":"CONTACT"},{"id":15524,"name":"My
        Event Type","headerTemplate":null,"detailTemplate":null,"applicationId":34597,"objectType":"CONTACT"},{"id":15525,"name":"My
        Event Type","headerTemplate":null,"detailTemplate":null,"applicationId":34597,"objectType":"CONTACT"}]'
  recorded_at: Thu, 06 Oct 2016 12:58:30 GMT
recorded_with: VCR 2.4.0
